<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/${date:yyyy-MM-dd}.log" filePattern="logs/${date:yyyy-MM-dd}/%application.log-%i.log">
            <PatternLayout pattern="%d %p %c  %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>